# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env


ERC-20/lib/
ERC-20/.git123/

NFT/lib/
NFT/.git123/